
<% var data = {
title: "BaseID - Мастер настройки аккаунта",
author: "Nadsadin"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="mdc-top-app-bar--fixed-adjust"></div>
<div class="mdc-layout-grid mdc-layout-grid--narrow">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12 mb-4">
      <div class="mdc-typography--headline4 mb-4">Мастер</div>
      <div class="mdc-typography--body1">Для работы с приложением...</div>
    </div>
    <div class="mdc-layout-grid__cell--span-12">
      <div class="mdc-card account-card">
          <div class="mdc-typography--headline4 mb-4">Персональные данные </div>
        <form action="">

          <div class="mdc-form-field-wrapper">
            <label class="mdc-text-field mdc-text-field--outlined w-100" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" aria-labelledby="name-label" required>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="name-label">Имя</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Ваше имя</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper">
            <label class="mdc-text-field mdc-text-field--outlined w-100" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" aria-labelledby="surname-label" required>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="surname-label">Фамилия</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Ваша фамилия</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper">
            <label class="mdc-text-field mdc-text-field--outlined w-100" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" aria-labelledby="midname-label">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="midname-label">Отчество</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Ваше отчество как в паспорте.(Если нет - оставить пустым)</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper">
            <div class="mdc-select mdc-select--outlined" data-mdc-auto-init="MDCSelect">
              <input type="hidden" name="country" value="" class="my_mdc-select__value" />
              <div class="mdc-select__anchor w-100">
                <i class="mdc-select__dropdown-icon"></i>
                <div id="demo-selected-text" class="mdc-select__selected-text" aria-labelledby="outlined-select-label"></div>
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <span id="outlined-select-label" class="mdc-floating-label">Гражданство</span>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>

              <!-- Other elements from the select remain. -->
              <div class="mdc-select__menu mdc-menu mdc-menu-surface w-100" role="listbox">
                <ul class="mdc-list">
                  <li class="mdc-list-item mdc-list-item--selected" aria-selected="true" data-value="" role="option"></li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                </ul>
              </div>
            </div>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Выберите гражданство</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper">
            <label class="my-mdc-file-field">
              <div class="mdc-button mdc-button--unelevated">
                <div class="mdc-button__ripple"></div>Фотография</div>
              <input type="file" name="photo">
              <span class="my-mdc-file-field__filename">Файл не выбран</span>
            </label>
          </div>
          <div class="mdc-form-field-wrapper">
            <label class="mdc-text-field mdc-text-field--outlined  mdc-text-field--textarea w-100" data-mdc-auto-init="MDCTextField">
              <textarea class="mdc-text-field__input" aria-labelledby="about-label" rows="4" ></textarea>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="about-label">О себе</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Немного информации о себе</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field">
            <div class="mdc-checkbox">
              <input type="checkbox"
                     class="mdc-checkbox__native-control"
                     id="checkbox-2"/>
              <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark"
                     viewBox="0 0 24 24">
                  <path class="mdc-checkbox__checkmark-path"
                        fill="none"
                        d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
              </div>
              <div class="mdc-checkbox__ripple"></div>
            </div>
            <label for="checkbox-2" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">Я принимаю условия <a
                href="#">Соглашения об электронном взаимодействии</a></label>
          </div>
          <div class="mdc-form-field-wrapper mt-4">
            <button class="mdc-button mdc-button--unelevated w-200" type="submit">
              <div class="mdc-button__ripple"></div>Далее</button>
          </div>
        </form>
      </div>
      <div class="mdc-card account-card">
        <div class="mdc-typography--headline4 mb-4 text-success">Персональные данные </div>
        <form action="">
          <div class="mdc-form-field-wrapper">
            <label class="mdc-text-field mdc-text-field--outlined w-100" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" aria-labelledby="name-label" required disabled value="Иван">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="name-label">Имя</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Ваше имя</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper">
            <label class="mdc-text-field mdc-text-field--outlined w-100" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" aria-labelledby="surname-label" required disabled value="Иванов">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="surname-label">Фамилия</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Ваша фамилия</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper">
            <label class="mdc-text-field mdc-text-field--outlined w-100" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" aria-labelledby="midname-label" disabled value="Иванович">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="midname-label">Отчество</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Ваше отчество как в паспорте.(Если нет - оставить пустым)</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper">
            <div class="mdc-select mdc-select--outlined mdc-select--disabled" data-mdc-auto-init="MDCSelect">
              <input type="hidden" name="country" value="AF" class="my_mdc-select__value" />
              <div class="mdc-select__anchor w-100">
                <i class="mdc-select__dropdown-icon"></i>
                <div class="mdc-select__selected-text" aria-labelledby="outlined-select-label"></div>
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label">Гражданство</span>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>

              <!-- Other elements from the select remain. -->
              <div class="mdc-select__menu mdc-menu mdc-menu-surface w-100" role="listbox">
                <ul class="mdc-list">
                  <li class="mdc-list-item" data-value="" role="option"></li>
                  <li class="mdc-list-item mdc-list-item--selected" data-value="AF" aria-selected="true"  role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                  <li class="mdc-list-item" data-value="AF" role="option">
                    Афганистан
                  </li>
                  <li class="mdc-list-item" data-value="AL" role="option">
                    Албания
                  </li>
                  <li class="mdc-list-item" data-value="DZ" role="option">
                    Алжир
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper">
            <label class="my-mdc-file-field my-mdc-file-field--disabled">
              <div class="mdc-button mdc-button--unelevated">
                <div class="mdc-button__ripple"></div>Фотография</div>
              <input type="file" name="photo" disabled>
              <span class="my-mdc-file-field__filename">Файл не выбран</span>
            </label>
          </div>
          <div class="mdc-form-field-wrapper">
            <label class="mdc-text-field mdc-text-field--outlined  mdc-text-field--textarea w-100" data-mdc-auto-init="MDCTextField">
              <textarea class="mdc-text-field__input" aria-labelledby="about-label" rows="4" disabled>Краткая информация о себе </textarea>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="about-label">О себе</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Немного информации о себе</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper mt-4">
            <button class="mdc-button mdc-button--unelevated w-200" type="submit">
              <div class="mdc-button__ripple"></div>Сохранить</button>
          </div>
        </form>
      </div>
      <div class="mdc-card account-card">
        <div class="mdc-typography--headline4 mb-4">Тип аккаунта</div>
        <div class="account-card__help-text">
          Для начала работы, выберите тип аккаунта.
          <div class="my-mdc-alert">
            <div class="my-mdc-alert-icon"><ion-icon name="alert-circle-outline"></ion-icon></div>
            <div class="my-mdc-alert-text">После того, как вы нажмете кнопку "Подтвердить", вы не сможете изменить тип аккаунта!</div>
          </div>
        </div>
        <form action="">
          <div class="mdc-form-field-wrapper">
            <div class="mdc-select mdc-select--outlined mdc-select--required" data-mdc-auto-init="MDCSelect">
              <input type="hidden" name="country" value="" class="my_mdc-select__value" />
              <div class="mdc-select__anchor w-100">
                <i class="mdc-select__dropdown-icon"></i>
                <div class="mdc-select__selected-text" aria-labelledby="outlined-select-label" aria-required="true"></div>
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label">Тип аккаунта</span>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>

              <!-- Other elements from the select remain. -->
              <div class="mdc-select__menu mdc-menu mdc-menu-surface w-100" role="listbox">
                <ul class="mdc-list">
                  <li class="mdc-list-item mdc-list-item--selected" data-value="0" role="option" aria-selected="true">Не определен</li>
                  <li class="mdc-list-item" data-value="1" role="option" >
                    Физическое лицо (резидент РФ)
                  </li>
                  <li class="mdc-list-item" data-value="2" role="option">
                    Физическое лицо (нерезидент РФ)
                  </li>
                  <li class="mdc-list-item" data-value="3" role="option">
                    Индивидуальный предприниматель
                  </li>
                  <li class="mdc-list-item" data-value="4" role="option">
                    Юридическое лицо (ПАО, ООО)
                  </li>
                  <li class="mdc-list-item" data-value="5" role="option">
                    Самозанятый
                  </li>
                </ul>
              </div>
            </div>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Выберите тип аккаунта</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper mt-4">
            <button class="mdc-button mdc-button--unelevated w-200" type="submit">
              <div class="mdc-button__ripple"></div>Подтвердить</button>
          </div>
        </form>
      </div>
      <div class="mdc-card account-card">
        <div class="mdc-typography--headline4 mb-4 text-success">Тип аккаунта выбран</div>
        <form action="">
          <div class="mdc-form-field-wrapper">
            <div class="mdc-select mdc-select--outlined mdc-select--required mdc-select--disabled" data-mdc-auto-init="MDCSelect">
              <input type="hidden" name="country" value="" class="my_mdc-select__value" />
              <div class="mdc-select__anchor w-100">
                <i class="mdc-select__dropdown-icon"></i>
                <div class="mdc-select__selected-text" aria-labelledby="outlined-select-label" aria-required="true"></div>
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label">Тип аккаунта</span>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>

              <!-- Other elements from the select remain. -->
              <div class="mdc-select__menu mdc-menu mdc-menu-surface w-100" role="listbox">
                <ul class="mdc-list">
                  <li class="mdc-list-item" data-value="" role="option">Не определен</li>
                  <li class="mdc-list-item mdc-list-item--selected" data-value="1" role="option" aria-selected="true">
                    Физическое лицо (резидент РФ)
                  </li>
                  <li class="mdc-list-item" data-value="2" role="option">
                    Физическое лицо (нерезидент РФ)
                  </li>
                  <li class="mdc-list-item" data-value="3" role="option">
                    Индивидуальный предприниматель
                  </li>
                  <li class="mdc-list-item" data-value="4" role="option">
                    Юридическое лицо (ПАО, ООО)
                  </li>
                  <li class="mdc-list-item" data-value="5" role="option">
                    Самозанятый
                  </li>
                </ul>
              </div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Это поле обязательно к заполнению.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="mdc-card account-card">
        <div class="mdc-typography--headline4 mb-4">Номер телефона</div>
        <div class="account-card__help-text">
          Для начала работы необходимо подтвердить свой номер телефона.
        </div>
        <form action="">
          <div class="mdc-form-field-wrapper">
            <label class="mdc-text-field mdc-text-field--outlined w-100" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" aria-labelledby="phone-label" required>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="phone-label">Телефон</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line ">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent "  aria-hidden="true">Номер мобильного телефона в формате +7 (ХХХ) ХХХХХХХ.
                <br>Только для абонентов российских сотовых операторов.</div>
            </div>
            <div class="mdc-text-field-helper-line mdc-text-field-helper-line--error">
              <div class="mdc-text-field-helper-text mdc-text-field-helper-text--error "  aria-hidden="true">Номер введен неправильно.</div>
            </div>
          </div>
          <div class="mdc-form-field-wrapper mt-4">
            <button class="mdc-button mdc-button--unelevated w-200" type="submit">
              <div class="mdc-button__ripple"></div>Сохранить</button>
          </div>
        </form>
      </div>
      <div class="mdc-card account-card">
        <div class="mdc-typography--headline4 mb-4 text-success">Номер телефона подтвержден</div>
        <div class="account-card__help-text">
          Номер телефона подтвержден. Теперь ....
        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
