
<% var data = {
title: "BaseID - Страница Приложения",
author: "Nadsadin"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="mdc-top-app-bar--fixed-adjust"></div>
<div class="mdc-layout-grid page-header">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-6">
      <div class="mdc-typography--headline4 mb-4">BaseID Аутентификация</div>
      <div class="mdc-typography--body2">
        Сервис двухфакторной аутентификации для проверки и авторизации физических и юридических лиц. Предоставляются для всех тарифов бесплатно.
      </div>
      <div class="my-mdc-alert mdc-typography--body2">
        <div class="my-mdc-alert-icon"><ion-icon name="alert-circle-outline" role="img" class="md hydrated" aria-label="alert circle outline"></ion-icon></div>
        <div class="my-mdc-alert-text">Данное приложение отключить невозможно</div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-6">
      <div class="app-page-info">
        <div class="app-page-price">690 ₽ / месяц</div>
        <div class="app-page-info-right">
          <div class="app-page-logo">
            <img src="img/service_104.png" alt="">
          </div>
          <a href="#" class="mdc-button mdc-button--unelevated">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Подключить</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mdc-layout-grid mdc-layout-grid--narrow">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <div class="mdc-typography--body1">
        <p>The Iconicons Web Component is an easy and performant way to use Ionicons in your app. The component will dynamically load an SVG for each icon, so your app is only requesting the icons that you need. <a href="#">Ссылка</a></p>
        <p>Also note that only visible icons are loaded, and icons which are "below the fold" and hidden from the user's
          view do not make fetch requests for the svg resource.</p>
        <p>To use a built-in icon from the Ionicons package, populate the name attribute on the ion-icon component:</p>
        <p>The Iconicons Web Component is an easy and performant way to use Ionicons in your app. The component will dynamically load an SVG for each icon, so your app is only requesting the icons that you need.</p>
        <p>Also note that only visible icons are loaded, and icons which are "below the fold" and hidden from the user's
          view do not make fetch requests for the svg resource.</p>
        <p>To use a built-in icon from the Ionicons package, populate the name attribute on the ion-icon component:</p>
        <p>The Iconicons Web Component is an easy and performant way to use Ionicons in your app. The component will dynamically load an SVG for each icon, so your app is only requesting the icons that you need.</p>
        <p>Also note that only visible icons are loaded, and icons which are "below the fold" and hidden from the user's
          view do not make fetch requests for the svg resource.</p>
        <p>To use a built-in icon from the Ionicons package, populate the name attribute on the ion-icon component: </p>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
