
<% var data = {
title: "BaseID - Баланс",
author: "Nadsadin"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="mdc-top-app-bar--fixed-adjust"></div>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <div class="mdc-typography--headline4 mb-4">Баланс</div>
    </div>
    <div class="mdc-layout-grid__cell--span-12 mb-4">
      <div class="mdc-chip-set docs-chips  mdc-chip-set--filter"  role="grid">
        <div class="mdc-chip mdc-chip--selected" role="row">
          <div class="mdc-chip__ripple"></div>
          <span class="mdc-chip__checkmark" >
            <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
              <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
          </span>
          <span role="gridcell">
            <span role="button" tabindex="0" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Все</span>
            </span>
          </span>
        </div>
        <div class="mdc-chip" role="row" id="signed">
          <div class="mdc-chip__ripple"></div>
          <span class="mdc-chip__checkmark" >
            <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
              <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
          </span>
          <span role="gridcell">
            <span role="button" tabindex="0" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Неоплаченные</span>
            </span>
          </span>
        </div>
        <div class="mdc-chip" role="row" id="unsigned">
          <div class="mdc-chip__ripple"></div>
          <span class="mdc-chip__checkmark" >
            <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
              <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
          </span>
          <span role="gridcell">
            <span role="button" tabindex="0" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Оплаченные</span>
            </span>
          </span>
        </div>
        <div class="mdc-chip" role="row">
          <div class="mdc-chip__ripple"></div>
          <span class="mdc-chip__checkmark" >
            <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
              <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
          </span>
          <span role="gridcell">
            <span role="button" tabindex="0" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Просроченные</span>
            </span>
          </span>
        </div>
        <div class="mdc-chip" role="row">
          <div class="mdc-chip__ripple"></div>
          <span class="mdc-chip__checkmark" >
            <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
              <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
          </span>
          <span role="gridcell">
            <span role="button" tabindex="0" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Архив</span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-12">
      <div class="my-data-table-wrap">
        <div class="mdc-data-table">
          <table class="mdc-data-table__table" aria-label="Документы">
            <thead>
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col"  data-toggle="tooltip" data-placement="bottom" title="Номер" style="width: 100px">Номер</th>
              <th class="mdc-data-table__header-cell  mdc-data-table__header-cell--with-sort" role="columnheader" scope="col"  data-toggle="tooltip" data-placement="bottom" title="Создан">
                <a href="?created=DESC">Создан <ion-icon name="arrow-up-outline"></ion-icon></a></th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col"  data-toggle="tooltip" data-placement="bottom" title="Оплачен">
                <a href="?paid_time=ASC">Оплачен <ion-icon name="arrow-down-outline"></ion-icon></a></th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col"  data-toggle="tooltip" data-placement="bottom" title="Услуга">Услуга</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col"  data-toggle="tooltip" data-placement="bottom" title="Статус" style="width: 130px">Статус</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col"  data-toggle="tooltip" data-placement="bottom" title="Действия" style="width: 130px">Действия</th>
            </tr>
            </thead>
            <tbody class="mdc-data-table__content">
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="43">43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="12.03.2020 21:43">12.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="13.03.2020 21:43">13.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="Разработка сайта интернет-магазина детских товаров"><ion-icon name="pricetag-outline"></ion-icon> Разработка сайта интернет-магазина детских товаров</td>
              <td class="mdc-data-table__cell">
                <div class="mdc-chip-set" role="grid">
                  <div class="mdc-chip my-mdc-chip--small my-mdc-chip--green" role="row">
                      <span role="gridcell">
                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                          <span class="mdc-chip__text">Оплачен</span>
                        </span>
                      </span>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray mr-2" data-toggle="tooltip" data-placement="bottom" title="Скачать"><ion-icon name="document-outline"></ion-icon> </a>
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray" data-toggle="tooltip" data-placement="bottom" title="Оплатить"><ion-icon name="card-outline"></ion-icon></a>
              </td>
            </tr>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="43">43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="12.03.2020 21:43">12.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="13.03.2020 21:43">13.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="Разработка сайта интернет-магазина детских товаров"><ion-icon name="pricetag-outline"></ion-icon> Разработка сайта интернет-магазина детских товаров</td>
              <td class="mdc-data-table__cell">
                <div class="mdc-chip-set" role="grid">
                  <div class="mdc-chip my-mdc-chip--small my-mdc-chip--light-gray" role="row">
                      <span role="gridcell">
                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                          <span class="mdc-chip__text">Не оплачен</span>
                        </span>
                      </span>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray mr-2" data-toggle="tooltip" data-placement="bottom" title="Скачать"><ion-icon name="document-outline"></ion-icon> </a>
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray" data-toggle="tooltip" data-placement="bottom" title="Оплатить"><ion-icon name="card-outline"></ion-icon></a>
              </td>
            </tr>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="43">43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="12.03.2020 21:43">12.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="13.03.2020 21:43">13.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="Разработка сайта интернет-магазина детских товаров"><ion-icon name="pricetag-outline"></ion-icon> Разработка сайта интернет-магазина детских товаров</td>
              <td class="mdc-data-table__cell">
                <div class="mdc-chip-set" role="grid">
                  <div class="mdc-chip my-mdc-chip--small my-mdc-chip--orange" role="row">
                      <span role="gridcell">
                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                          <span class="mdc-chip__text">Просрочен</span>
                        </span>
                      </span>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray mr-2" data-toggle="tooltip" data-placement="bottom" title="Скачать"><ion-icon name="document-outline"></ion-icon> </a>
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray" data-toggle="tooltip" data-placement="bottom" title="Оплатить"><ion-icon name="card-outline"></ion-icon></a>
              </td>
            </tr>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="43">43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="12.03.2020 21:43">12.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="13.03.2020 21:43">13.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="Разработка сайта интернет-магазина детских товаров"><ion-icon name="pricetag-outline"></ion-icon> Разработка сайта интернет-магазина детских товаров</td>
              <td class="mdc-data-table__cell">
                <div class="mdc-chip-set" role="grid">
                  <div class="mdc-chip my-mdc-chip--small my-mdc-chip--green" role="row">
                      <span role="gridcell">
                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                          <span class="mdc-chip__text">Оплачен</span>
                        </span>
                      </span>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray mr-2" data-toggle="tooltip" data-placement="bottom" title="Скачать"><ion-icon name="document-outline"></ion-icon> </a>
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray" data-toggle="tooltip" data-placement="bottom" title="Оплатить"><ion-icon name="card-outline"></ion-icon></a>
              </td>
            </tr>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="43">43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="12.03.2020 21:43">12.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="13.03.2020 21:43">13.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="Разработка сайта интернет-магазина детских товаров"><ion-icon name="pricetag-outline"></ion-icon> Разработка сайта интернет-магазина детских товаров</td>
              <td class="mdc-data-table__cell">
                <div class="mdc-chip-set" role="grid">
                  <div class="mdc-chip my-mdc-chip--small my-mdc-chip--light-gray" role="row">
                      <span role="gridcell">
                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                          <span class="mdc-chip__text">Не оплачен</span>
                        </span>
                      </span>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray mr-2" data-toggle="tooltip" data-placement="bottom" title="Скачать"><ion-icon name="document-outline"></ion-icon> </a>
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray" data-toggle="tooltip" data-placement="bottom" title="Оплатить"><ion-icon name="card-outline"></ion-icon></a>
              </td>
            </tr>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="43">43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="12.03.2020 21:43">12.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="13.03.2020 21:43">13.03.2020 21:43</td>
              <td class="mdc-data-table__cell" data-toggle="tooltip" data-placement="bottom" title="Разработка сайта интернет-магазина детских товаров"><ion-icon name="pricetag-outline"></ion-icon> Разработка сайта интернет-магазина детских товаров</td>
              <td class="mdc-data-table__cell">
                <div class="mdc-chip-set" role="grid">
                  <div class="mdc-chip my-mdc-chip--small my-mdc-chip--orange" role="row">
                      <span role="gridcell">
                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                          <span class="mdc-chip__text">Просрочен</span>
                        </span>
                      </span>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray mr-2" data-toggle="tooltip" data-placement="bottom" title="Скачать"><ion-icon name="document-outline"></ion-icon> </a>
                <a href="#" class="mdc-icon-button mdc-icon-button--small mdc-icon-button--gray" data-toggle="tooltip" data-placement="bottom" title="Оплатить"><ion-icon name="card-outline"></ion-icon></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="my-data-table__nav">
          <div class="my-data-table__nav-text">10-20 из 100</div>
          <a href="#" class="mdc-icon-button mr-3"><ion-icon name="chevron-back-outline"></ion-icon></a>
          <a href="#" class="mdc-icon-button"><ion-icon name="chevron-forward-outline"></ion-icon></a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
