<!doctype html>
<html lang="ru">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet">

  <title>СЧЕТ № ХХ от ХХ хххххя 2020 г.</title>
  <style>
    table{
      width: 100%;
      border-collapse: collapse;
    }
    table.bordered td, table.bordered th{
      border: 1px solid #000;
    }
    td, th{
      padding: 10px 5px;
    }
    h1{
      font-weight: bold;
      text-align: center;
    }
  </style>
</head>
<body style="">
<div style="font-weight: bold; margin-bottom: 20px; text-decoration: underline;">Общество с ограниченной ответственностью «Центр интернет-технологий»</div>
<div style="font-weight: bold; margin-bottom: 20px;">Адрес: 121609, г. Москва, Рублевское ш., д. 52, оф. 110</div>
<div style="font-weight: bold;">Образец заполнения платежного поручения</div>
<table class="bordered">
  <tr>
    <td>ИНН 9731056862</td>
    <td>КПП 773101001</td>
    <td rowspan="2" style="vertical-align: bottom;">сч. No</td>
    <td rowspan="2" style="vertical-align: bottom;">40702810401500067811</td>
  </tr>
  <tr>
    <td colspan="2">Получатель
      <br>ООО «Центр интернет-технологий»</td>
  </tr>
  <tr>
    <td colspan="2" style="border-bottom: none">Банк получателя</td>
    <td>БИК</td>
    <td style="border-bottom: none">44525999</td>
  </tr>
  <tr>
    <td colspan="2" style="border-top: none;">ТОЧКА ПАО БАНКА "ФК ОТКРЫТИЕ"</td>
    <td>к/сч. №</td>
    <td style="border-top: none;">30101810845250000999</td>
  </tr>
  <tr>
    <td colspan="4" style="color: #ff0000; font-weight: bold; font-size: 28px; text-align: center;">В платежном поручении назначение платежа
      <br>необходимо указать точно так, как указано в счете!</td>
  </tr>
</table>
<h1>СЧЕТ N ХХ от ХХ хххххя 2020 г.</h1>
<div>Плательщик: ООО/ПАО «Ромашка»</div>
<div style="margin-bottom: 20px">Грузополучатель: ООО/ПАО «Ромашка»</div>
<table class="bordered">
  <tr style="text-align: center">
    <td>№</td>
    <td style="width: 250px;">Наименование
      <br>услуг
    </td>
    <td>Единица
      <br>измерения
    </td>
    <td>Коли-
      <br>чество
    </td>
    <td style="width: 120px;">Цена, руб.</td>
    <td style="width: 120px;">Сумма, руб.</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Оплата за подписание одного
      документа при помощи простой
      электронной подписи (ПЭП)
    </td>
    <td style="text-align: center">шт.</td>
    <td style="text-align: center">1</td>
    <td style="text-align: center">59,00</td>
    <td style="text-align: center">59,00</td>
  </tr>
  <tr>
    <td colspan="5" style="border: none; font-weight: bold; text-align: right;">Итого:</td>
    <td style="font-weight: bold;text-align: center;">59,00</td>
  </tr>
  <tr>
    <td colspan="5" style="border: none; font-weight: bold; text-align: right;">НДС - 0%</td>
    <td style="font-weight: bold;text-align: center;">0,00</td>
  </tr>
  <tr>
    <td colspan="5" style="border: none; font-weight: bold; text-align: right;">Всего к оплате:</td>
    <td style="font-weight: bold;text-align: center;">59,00</td>
  </tr>
</table>
<div style="margin-top: 20px;">Всего наименований 1 (Одно), на сумму <span style="font-weight: bold">59,00 руб.</span></div>
<div style="font-weight: bold">Пятьдесят девять руб. 00 копеек.</div>
<div style="margin-bottom: 40px">Стоимость работ не облагается НДС на основании п. 2 ст. 346.11 Налогового Кодекса РФ.</div>
<div style="margin-bottom: 35px">
  Генеральный директор
  <span style="position: relative; width: 216px; height: 18px; display: inline-block">
    <img src="img/podpis.png" alt="" style="position: absolute; width: 100px; left: 30px; bottom: -25px;">
  </span>
  Захаров А.Н.
  <span style="position: relative; display: inline-block;">
    <img src="img/pechat.png" alt="" style="position: absolute; width: 200px; left: 10px; top: -60px;">
  </span>
</div>
<div>Главный бухгалтер
  <span style="position: relative; width: 240px; height: 18px; display: inline-block">
    <img src="img/podpis.png" alt="" style="position: absolute; width: 100px; left: 30px; bottom: -25px;">
  </span>
  Захаров А.Н.</div>
</body>
</html>