
<% var data = {
title: "BaseID - Текстовый шаблон",
author: "Nadsadin"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="mdc-top-app-bar--fixed-adjust"></div>
<div class="mdc-layout-grid mdc-layout-grid--narrow">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <div class="mdc-typography--headline4">Hello, world!</div>
      <div class="text-content">
        <p>The Iconicons Web Component is an easy and performant way to use Ionicons in your app. The component will dynamically load an SVG for each icon, so your app is only requesting the icons that you need. <a href="#">Ссылка</a></p>
        <p>Also note that only visible icons are loaded, and icons which are "below the fold" and hidden from the user's
          view do not make fetch requests for the svg resource.</p>
        <p>To use a built-in icon from the Ionicons package, populate the name attribute on the ion-icon component:</p>
        <p>The Iconicons Web Component is an easy and performant way to use Ionicons in your app. The component will dynamically load an SVG for each icon, so your app is only requesting the icons that you need.</p>
        <p>Also note that only visible icons are loaded, and icons which are "below the fold" and hidden from the user's
          view do not make fetch requests for the svg resource.</p>
        <p>To use a built-in icon from the Ionicons package, populate the name attribute on the ion-icon component:</p>
        <p>The Iconicons Web Component is an easy and performant way to use Ionicons in your app. The component will dynamically load an SVG for each icon, so your app is only requesting the icons that you need.</p>
        <p>Also note that only visible icons are loaded, and icons which are "below the fold" and hidden from the user's
          view do not make fetch requests for the svg resource.</p>
        <p>To use a built-in icon from the Ionicons package, populate the name attribute on the ion-icon component: </p>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
