@use "@material/switch/mdc-switch";

.app{
  &-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    label{
      margin: 0 16px;
    }
  }
  &-card{
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 24px;
    &-body{
      flex: 0 1 65%;
      display: flex;
      align-items: center;
    }
    &-price{
      flex: 1 1;
      font-weight: 500;
      font-size: 18px;
    }
    &-title{
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
    }
    &-description{
      font-size: 12px;
      line-height: 18px;
      color: #757575;
    }
    &-logo{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 60px;
      width: 1em;
      height: 1em;
      border: 1px solid #e8e8e8;
      border-radius: 23%;
      margin-right: 16px;
      img{
        width: 70%;
        height: 70%;
      }
    }
  }
}
@media (max-width: 839px) {
  .app{
    &-card{
      flex-wrap: wrap;
      &-body{
        flex: 0 1 100%;
        margin-bottom: 16px;
      }
    }
  }
}
@media (max-width: 599px) {
  .app{
    &-card{
      &-logo{
        margin-bottom: 16px;
      }
      &-body{
        flex-direction: column;
      }
      &-text{
        align-self: flex-start;
      }
    }
  }
}