@use "@material/card/mdc-card";
@use "@material/elevation";

.auth{
  &-wrap{
    width: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-inner{
    padding: 16px;
    width: 450px;
    max-width: 100%;
  }
  &-card{
    padding: 32px;
    --mdc-typography-button-letter-spacing: 0.05;
    --mdc-typography-caption-font-weight: 300;
    &__logo{
      font-family: 'Questrial', sans-serif;
      color: #1371EC;
      font-size: 34px;
      display: block;
      text-align: center;
      text-decoration: none;
      margin-bottom: 32px;
    }
    &__footer{
      margin-top: 16px;
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
      &-text{
        margin-top: 8px;
        font-size: 0.75rem;
        font-size: var(--mdc-typography-caption-font-size, 0.75rem);
        line-height: 1.25rem;
        line-height: var(--mdc-typography-caption-line-height, 1.25rem);
        font-weight: 300;
        font-weight: var(--mdc-typography-caption-font-weight, 400);
        letter-spacing: 0.0333333333em;
        letter-spacing: var(--mdc-typography-caption-letter-spacing, 0.0333333333em);
      }
    }
    .mdc-form-field-wrapper{
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .mdc-typography--headline4{
      margin-bottom: 16px;
    }
    .mdc-text-field-helper-line{
      --mdc-typography-caption-font-size: 0.6rem;
      .mdc-text-field-helper-text{
        font-size: .6rem;
      }
    }
    .mdc-button{
    }
  }
  &-footer{
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    padding: 32px 16px;
    color: #777777;
  }
}