.badge-pill-small-circle{
  width: 13px;
  height: 13px;
  font-size: 8px;
  line-height: 13px;
  border-radius: 13px;
  text-align: center;
}
.badge-pink{
  background-color: #F03663;
  color: #ffffff;
}