.bottom-app-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  z-index: 4;
  width: 100%;
  background-color: #ffffff;
  height: 50px;
  .mdc-icon-button{
    color: #5e5e5e;
    &.active{
      color: #1371EC;
      ion-icon{
        color: #1371EC;
      }
    }
    ion-icon{
      color: #888888;
    }
  }
}

@media (min-width: 840px) {
  .bottom-app-bar{
    display: none;
  }
}
