@use "mdc_theme";
@use "@material/button";

@include button.core-styles;

.mdc-button{
  &:hover{
    text-decoration: none;
  }
  &--outlined:not(:disabled){
    border-color: mdc_theme.$primary;
    border-color: var(--mdc-theme-primary, mdc_theme.$primary);
  }
  &--dense-text{
    letter-spacing: .02em;
  }
}
.w-200{
  min-width: 200px;
}
.mdc-fab--fixed{
  position: fixed;
  bottom: 66px;
  right: 2rem;
}