@use "@material/top-app-bar/mdc-top-app-bar.import" as MDCTopAppBar;
@use "@material/icon-button/mixins" as MDCIconButton;
@use "@material/icon-button/mdc-icon-button";
@use "@material/button/mdc-button";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";

.mdc-top-app-bar.mdc-top-app-bar--raised {
  @include MDCTopAppBar.mdc-top-app-bar-fill-color-accessible(#FFFFFF);
  @include MDCTopAppBar.mdc-top-app-bar-icon-ink-color(#5e5e5e);
}
.mdc-top-app-bar.mdc-top-app-bar--transparent {
  @include MDCTopAppBar.mdc-top-app-bar-fill-color-accessible(transparent);
  @include MDCTopAppBar.mdc-top-app-bar-icon-ink-color(#FFFFFF);
}
.mdc-top-app-bar.mdc-top-app-bar--transparent-light {
  @include MDCTopAppBar.mdc-top-app-bar-fill-color-accessible(transparent);
  @include MDCTopAppBar.mdc-top-app-bar-icon-ink-color(#5e5e5e);
}
.mdc-top-app-bar__logo, .mdc-top-app-bar__navigation-icon, .top-app-bar__back-link{
  display: none;
}

@media (max-width: 839px) {
  .mdc-top-app-bar__navigation-icon, .top-app-bar__back-link {
    display: block;
  }
  .mdc-top-app-bar__logo{
    display: flex;
    align-items: center;
    margin-right: 16px;
    text-decoration: none;
  }
}

.mdc-top-app-bar{
  .mdc-button{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    --mdc-typography-button-font-size: 11px;
    --mdc-typography-button-font-weight: 400;
    --mdc-typography-button-text-transform: none;
    &-light{
      --mdc-theme-primary: #DEDEDE;
      &:hover{
        .mdc-button__icon{
          color: #949494;
        }
        .mdc-button__label{
          color: #1371EC;
        }
      }
    }
    &-red{
      --mdc-theme-primary: #D43F3F;
    }
    &-dark{
      --mdc-theme-primary: #949494;
    }
    &__label{
      &-light{
        color: #A7A7A7;
      }
      &-red{
        color: #D43F3F;
      }
      &-dark{
        color: #949494;
      }
      &-blue{
        color: #1371EC;
      }
      &-black{
        color: #212121;
      }
    }
  }
  .mdc-icon-button{
    color: #5e5e5e;
    margin-left: 7px;
    margin-right: 7px;
    @include MDCIconButton.icon-size(18px, 18px, 4px);
  }
  .icon-buttons-wrap{
    margin-left: 12px;
    margin-right: 12px;
  }
  .avatar-image-circle{
    width: 38px;
    height: 38px;
  }
}
#avatar-menu-anchor{
  cursor: pointer;
}
.avatar-menu-info{
  padding: 8px 16px;
  min-width: 200px;
  &-name{
    font-weight: bold;
  }
  &-details{
    font-size: 10px;
    font-weight: 300;
  }
  &-link{
    font-size: 12px;
  }
}
.top-app-bar__balance{
  margin-right: 24px;
  font-weight: 300;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .hide-desktop{
    display: none;
  }
}
@media (max-width: 839px) {
  .hide-tablet{
    display: none;
  }
}
@media (max-width: 599px) {
  .hide-mobile{
    display: none;
  }
}
@media (min-width: 1350px){
  .mdc-top-app-bar{
    padding-right: 150px;
  }
}