$mdc-typography-color: #212121;
$primary: #1371EC;
$mdc-typography-styles-headline4: (
        font-size: 28px,
        font-weight: bold,
        line-height: 25px,
        color: #212121
);
$mdc-typography-styles-body2: (
  font-weight: 300
);
$styles-button: (text-transform: none);
$mdc-typography-button-text-transform: none;
@import "@material/typography/mdc-typography";
body{
  margin: 0;
  color: #212121;
  --mdc-typography-button-text-transform: none;
}
.text-content{
  padding: 60px 0;
  font-size: 14px;
  p{
    line-height: 28px;
    margin-top: 10px;
  }
}
a{
  text-decoration: none;
  color: $primary;
  &:visited, &:active{
    color: $primary;
  }
  &:hover{
    text-decoration: underline;
  }
}
.hoverable:hover{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.08);
}
.mdc-typography--text-primary{
  color: $primary;
}